body,
html {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px;
    
} 
/* float */
/* особых сложностей не было, но не сказала бы, что удобно использовать 
этот способ верстки здесь наиболее удобный,  float больше подходит для
обтекания картинки текстом*/
/* .wrap {
    height: 100%;
    width: 100%;
}
  
.menu {
    float: left;
    width: 250px;
    height: 100vh;
    background-color: indigo;
    color: white;
    
}
  
.content {
    height: 100%;
    width: calc(100vw - 250px);
    background-color: white;
    padding: 15px;
    margin-left: 270px;
} */

/* inline-block */
/* сложность с выравниванием второго блока content,
 образуется отступ сверху, пока не разобралась почему,
 но свойство vertical-align: top; спасло ситуацию
 в целом, если нужно расположить блочные элементы друг за другом,
 то это достаточно простой способ*/
/* .wrap {
    
    height: 100%;
    width: 100%;
}
  
.menu {
    display: inline-block;
    width: 250px;
    height: 100vh;
    background-color: indigo;
    color: white;
    
}
  
.content {
    display: inline-block;
    height: 100%;    
    background-color: #FFFFFF;    
    padding: 15px;
    vertical-align: top;    
} */
/* flex */
/* это самый удобный и простой способ верстки чего угодно у которого
нет минусов*/
.wrap {
    display: flex;
    height: 100%;
    width: 100%;
}
  
.menu {
    
    width: 250px;
    height: 100vh;
    background-color: indigo;
    color: white;
    
}
  
.content {
    
    height: 100%;    
    background-color: #FFFFFF;    
    padding: 15px;
    
}