body,
html {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px;
    
} 
.wrap{
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 1fr 2fr 1fr;
    border: 3px solid red;
    height: 100vh;
    grid-template-areas: 
    "header header header"
    "left center right"
    "footer footer footer";
    text-align: center;    
}
.header {
    grid-area: header;
    border: 3px solid red; 
}
.left {
    grid-area: left;
    border: 3px solid red; 
}
.center {
    grid-area: center;
    border: 3px solid red; 
}
.right {
    grid-area: right;
    border: 3px solid red; 
}
.footer {
    grid-area: footer; 
    border: 3px solid red;
}